    % rebase('base')
    <h1>{{ account['name'] }}</h1>
    <table>
      <thead>
        <tr>
          <th>Monto</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
      % for record in records:
        <tr>
          <td>{{ record['amount']     }}</td>
          <td>{{ record['created_on'] }}</td>
        </tr>
      % end
      </tbody>
    </table>

    <form action='records/' method='post'>
      <label>Monto: <input type='number' name='amount' min='0'
                           oninput='setCustomValidity("")'
                           oninvalid='setCustomValidity(
                           "Por favor, indique el monto.")'
                           required></label>
      <label>Fecha: <input type='date' name='created_on'
                           oninput='setCustomValidity("")'
                           oninvalid='setCustomValidity(
                           "Por favor, indique la fecha.")'
                           required></label>
      <input type='submit' value='Añadir registro'>
    </form>\\
