    % rebase('base')
    <h1>Mis cuentas</h1>
    % if accounts:
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Moneda</th>
        </tr>
      </thead>
      <tbody>
      % for account in accounts:
        <tr>
          <td><a href='{{ account['id'] }}/'>{{ account['name'] }}</a></td>
          <td>{{ account['currency'] }}</td>
        </tr>
      % end
      </tbody>
    </table>
    % else:
    <p>No hay cuentas creadas.</p>
    % end

    <form method='post'>
      <label>Nombre: <input type='text' maxlength=20 name='name'
                            oninput='setCustomValidity("")'
                            oninvalid='setCustomValidity(
                            "Por favor, indique el nombre de la cuenta.")'
                            required></label>
      <label>Moneda: <input type='text' maxlength=20 name='currency'
                            oninput='setCustomValidity("")'
                            oninvalid='setCustomValidity(
                            "Por favor, indique el nombre de la moneda.")'
                            required></label>
      <input type='submit' value='Añadir cuenta'>
    </form>\\
