body {
  margin: 3em auto;
  max-width: 720px;

  background-color: #FAFAFA;
  color: #4A4A4A;
  font-family: 'Helvetica Neue',
               'Helvetica', 'Arial',
               'Liberation Sans', sans-serif;
  line-height: 1.5em;
}

h1 {
  color: #333;
}

table {
  margin: 3ex 0em;
  width: 360px;

  font-size: 1.1em;
  text-align: left;
  border-collapse: collapse;
}

th {
  padding: 1.2ex 0.6em;

  color: #333;
  border-bottom: 2px solid #888;
}

td {
  padding: 0.9ex 0.6em;

  color: #555;
  border-bottom: 1px solid #DDD;
}

a {
  color: #23C;
}

a:hover, tr:hover td {
  color: #3A3;
}

input {
  display: block;
  width: 15em;
  margin-top: 0.5ex;
  margin-bottom: 2.0ex;
  padding: 0.9ex 0.6em;
  box-sizing: border-box;

  border: 1px solid #DDD;
  background-color: #FFF;
}

input[type='submit'] {
  color: #333;
  margin-top: 2.5ex;
  background-color: #AD8;

  border: 1px solid #888;
  box-shadow: inset 0px 3px #8C5;
}

input[type='submit']:hover {
  background-color: #8C5;
}
